<div class="jumbotron">
  <h2>New Keg</h2>
  <form class="form-group">
    <label for="newBrand">Brand:</label>
    <input type="text" [(ngModel)]="newBrand" name="newBrand" class="form-control">

    <label for="newFlavor">Flavor:</label>
    <input type="text" [(ngModel)]="newFlavor" name="newFlavor" class="form-control">

    <label for="newPrice">Price:</label>
    <input type="text" [(ngModel)]="newPrice" name="newPrice" class="form-control">

    <label for="newDescription">Description:</label>
    <textarea type="text" [(ngModel)]="newDescription" name="newDescription" class="form-control"></textarea>

    <button type="button" class="btn" (click)="addKeg()" id="addKeg">Add</button>
  </form>
  <ol>
    <li *ngFor="let eachKeg of kegs" class="well">
      <h3>{{eachKeg.brand}} </h3>
      <p>{{eachKeg.flavor}} ${{eachKeg.price}}</p>
      <p>{{eachKeg.description}}</p>
    </li>
  </ol>
</div>
