<div class="page-header">

  <div class="row">
    <div class="col-md-6">
      <h1>The Kombucha Hub</h1>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <nav class="navbar navbar-light bg-faded">
        <form class="form-inline">
          <div class="navbar-buttons">
            <button class="btn btn-outline-success" (click)="showMenu()" type="button">Menu</button>
            <button class="btn btn-outline-success" (click)="showAddForm()" type="button">Add Keg</button>
            <button class="btn btn-outline-success" (click)="showLowKegs()" type="button">Low Kegs</button>
          </div>
        </form>
      </nav>
    </div>
  </div>
</div>

<div *ngIf="kegForm" class="well newKeg">
  <h2>New Keg</h2>
  <form class="form-group">
    <label for="newBrand">Brand:</label>
    <input type="text" [(ngModel)]="newBrand" name="newBrand" class="form-control">

    <label for="newFlavor">Flavor:</label>
    <input type="text" [(ngModel)]="newFlavor" name="newFlavor" class="form-control">

    <label for="newPrice">Price:</label>
    <input type="text" [(ngModel)]="newPrice" name="newPrice" class="form-control">

    <label for="newDescription">Description:</label>
    <textarea type="text" [(ngModel)]="newDescription" name="newDescription" class="form-control" rows="7" cols="53"></textarea>

    <button type="button" class="btn" (click)="addKeg()" id="addKeg">Add</button>
  </form>
</div>
<div class="jumbotron" *ngIf="displayMenu" >
  <div *ngIf="selectedKeg === null">
    <ol class="row equal">
      <li *ngFor="let eachKeg of kegs" class="well col-sm-6">
        <h3>{{eachKeg.brand}} </h3>
        <button type="button" class="btn" (click)="editKeg(eachKeg)" id="editKeg">Edit</button>
        <p>{{eachKeg.flavor}} <span class="price-color">${{eachKeg.price}}</span></p>
        <p>Pints left: {{eachKeg.pints}}</p>
        <button type="button" class="btn" (click)="pourPint(eachKeg)" id="pourPint">Pour Pint</button>
        <p>{{eachKeg.description}}</p>
      </li>
    </ol>
  </div>
  <div *ngIf="selectedKeg" class="">
    <h3>{{selectedKeg.brand}} </h3>
    <p>{{selectedKeg.flavor}} ${{selectedKeg.price}}</p>
    <p>{{selectedKeg.description}}</p>
    <form class="form-group">
      <label for="editBrand">Brand:</label>
      <input type="text" [(ngModel)]="selectedKeg.brand" name="editBrand" class="form-control">

      <label for="editFlavor">Flavor:</label>
      <input type="text" [(ngModel)]="selectedKeg.flavor" name="editFlavor" class="form-control">

      <label for="editPrice">Price:</label>
      <input type="text" [(ngModel)]="selectedKeg.price" name="editPrice" class="form-control">

      <label for="editDescription">Description:</label>
      <textarea type="text" [(ngModel)]="selectedKeg.description" name="editDescription" class="form-control" rows="7" cols="53"></textarea>

    </form>
    <button type="button" class="btn" (click)="doneEditing()" id="doneEditing">Done</button>
  </div>
</div>
<div *ngIf="lowKegList" >
  <div class="showBelowTen">
    <h2>Kegs under 10 pints:</h2>
    <div *ngFor="let eachKeg of kegs">
      <div *ngIf="eachKeg.pints <= 10">
        <h3>{{eachKeg.brand}} </h3>
      </div>
    </div>
  </div>
</div>
