<div class="page-header">

  <div class="row">
    <div class="col-md-6">
      <h1 class="inline">The Kombucha Hub</h1><img src="../resources/img/growler.png" alt="" class="inline">
    </div>
    <div class="col-md-4 col-md-offset-2">
      <nav class="navbar navbar-light bg-faded">
        <form class="form-inline">
          <div class="navbar-buttons">
            <button class="btn btn-outline-success" (click)="showMenu()" type="button">Menu</button>
            <button class="btn btn-outline-success" (click)="showAddForm()" type="button">Add Keg</button>
            <button class="btn btn-outline-success" (click)="showLowKegs()" type="button">Low Kegs</button>
          </div>
        </form>
      </nav>
    </div>
  </div>
</div>

<div *ngIf="kegForm" class="well newKeg">
  <add-keg (clickSender)="addKegChild($event)"></add-keg>
</div>
<div class="jumbotron" *ngIf="displayMenu" >
  <div *ngIf="selectedKeg === null">
    <menu [childKegList]="masterKegList" (clickSender)="editKeg($event)"></menu>
  </div>
</div>
<div *ngIf="selectedKeg" class="">
  <edit-item [childSelectedKeg]="selectedKeg" (doneButtonClickedSender)="doneEditing()"></edit-item>
</div>
<div *ngIf="lowKegList" >
  <div class="showBelowTen">
    <h2>Kegs under 10 pints:</h2>
    <div *ngFor="let eachKeg of masterKegList | lowKeg">
      <h3>{{eachKeg.brand}}</h3>
    </div>
  </div>
</div>
