body {
  font-family: 'Coming Soon', cursive;
  background-color: rgb(154, 188, 168);
  color: #594b42;
}

.btn {
  background-color: #e6ede8;
}

.equal {
  /*background-color: rgb(45, 98, 107);*/
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

ol {
  list-style-type: none;
}
